{% extends 'portal.base.html.twig' %}

{% block page_title %}Spotify Connect{% endblock %}
{% block page_subtitle %}Verbindungsstatus{% endblock %}

{% block page_content %}

    {% if app.request.get('error') == "account_not_connected" %}
        <div class="alert alert-danger" role="alert">
            <strong>Die Verbindung zu Ihrem Spotify Account wurde unterbrochen</strong><br>
            Klicken Sie auf "Authorisieren" um die Verbindung wiederherzustellen!
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Spotify Status</h3>
        </div>
        <div class="panel-body">
            {% if spotify_me == false %}
            Die Verbindung zu Spotify wurde unterbrochen!
            <br>
            <a href="{{ url('spotify_authorize') }}"><button type="button" class="btn btn-warning">Authorisieren</button></a>
            {% else %}
            Verbunden mit <a href="{{ spotify_me.external_urls.spotify }}">{{ spotify_me.display_name }}</a> ({{ spotify_me.product }})
            {% endif %}<br>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Gira X1 Status</h3>
        </div>
        <div class="panel-body">
            Letzter Kontakt zum Gira X1: Heute, 12:43 Uhr
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">API Schlüssel</h3>
        </div>
        <div class="panel-body">
            <form action="{{ url('userprofile_apikey_reset') }}" method="post">
                <div class="form-group">
                    <label>API Key</label>
                    <input type="text" class="form-control" value="{{ user.apiKey }}" readonly>
                </div>
                <button type="submit" class="btn btn-danger" name="apikey_reset" value="1">Reset</button>
            </form>
        </div>
    </div>


{% endblock %}
